form h3{
  padding-bottom: 5px;
  border-bottom: solid 3px #d0d0d0;
}

.formfooter{
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  margin: auto;
}

footer{
  margin-bottom:60px;
}

#itemslide a i{
  font-size: 36px;
}

#itemslide a{
  color: #555555;
}
